.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
.n-left{
    float: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
}
.n-name{
    font-size: 1.3rem;
    font-weight: bold;
}
.n-right{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
.n-list{
    flex:10;
}
.n-list>ul{
    display: flex;
    gap: 2rem;
    margin: 2rem;
    list-style-type: none;
    cursor: pointer;

}
.n-list>ul>li{
    padding: 10px;
}
.n-list>ul>li:hover{
    color: var(--orange);
    border-bottom:2px solid var(--orange) ;
}
.n-btn{
    flex:2;
    
}
@media screen and (max-width: 400px){
    .n-list{
        display: none;
    }
    .n-btn{
        display: none;
    }
}