.intro{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}
.i-left{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
}
.i-name{
    display: flex;
    flex-direction: column;
}
.i-name>:nth-child(1){
    color: var(--black);
    font-weight: bold;
    font-size: 2rem;
}
.i-name >:nth-child(2){
   color: var(--black);
   font-weight: bold;
   font-size: 2rem;
}
.i-name >:nth-child(3){
    color: var(--black);
    font-weight: 200;
    font-size: 2rem;
 }
.i-name>:nth-child(4){
    font-weight: 100;
    font-size: 18px;
    color: var(--gray);
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.i-btn{
width: 6rem;
height: 2rem;
margin-top: 10px;
}
.i-icons{
    margin-top: 1rem;
    display: flex;
    gap: 0;
}
.i-icons>*{
    transform: scale(0.3);
}
.i-icons>*:hover{
    cursor: pointer;
}
.i-right{
    flex: 1;
    position: relative;
    left: 8%;
}
.i-right>*{
    position: absolute;
    z-index: 1;
}
.i-right>:nth-child(1){
    transform: scale(0.8);
    top: -13%;
    z-index: -1;
    /* Darlmode */
}

.i-right>:nth-child(2){
    transform: scale(0.59);
    left: -4.6%;
    top: -9%;
    
}
.blur{
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;  
  background: #edd0ff;
  filter: blur(212px);
  z-index: -1;
  top: -18%;
  left: 56%;
  filter: blur(72px);

}
@media screen and (max-width: 400px){
    .intro{
        flex-direction: column;
        height: 64rem;
        gap: 7rem;
    }
    .i-right{
        transform: scale(0.8);
        left: -5rem;
    }
    .i-right .blur{
        display: none;
    }
    .i-right>:nth-child(2){
        margin-left: 50px;
    }
    .i-right>:nth-child(3){
        padding-right: 0px;
        left: 90px;
    }
    .i-right>:nth-child(4){
        margin-left: 60px;
        margin-top: 50px;
    }
    .floating-div:nth-of-type(1){
        top: -6rem !important;
    }

  
}